---
import { Image } from "astro:assets";

import flor from "../../../public/images/flor.svg";

interface Props {
    image: string;
    className?: string;
}

const { image, className = "" }: Props = Astro.props;
---

<div
    class={`prueba mt-0 lg:mt-16 text-center bg-clara-yellow rounded-[28px] shadow-md px-4 flex flex-col items-center justify-end relative w-full h-full overflow-hidden hover:scale-105 transition-transform duration-500 pt-32 lg:pt-0 min-h-[398px] ${className}`}
>
    <Image
        src={flor}
        alt="Flor"
        width="200"
        height="200"
        class="absolute top-0.5 z-10 pt-5"
    />
    <Image
        src={image}
        alt="Producto 2"
        width="300"
        height="300"
        class="rounded-lg"
    />
</div>

<style>
    .prueba {
        display: flex;
    }
</style>
