---
import Header from "../components/Header";
import ProductsIsland from "../components/ProductsIsland.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Header client:only="react" />
    <div class="container">
        <h1>Lista de Productos</h1>
    </div>

    <ProductsIsland client:defer>
        <p slot="fallback" class="text-5xl text-red-500">
            Cargando productos...
        </p>
    </ProductsIsland>
</Layout>
