---
import Loader from "../components/Loader.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
            rel="stylesheet"
        />
        <title>Clara i Punt</title>
    </head>
    <body>
        <slot />
        <Loader />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Figtree", sans-serif;
        overflow-x: hidden;
    }
</style>

<script>
    window.addEventListener("load", () => {
        const images = document.querySelectorAll("img");
        const totalImages = images.length;

        if (totalImages === 0) {
            const loader = document.querySelector(".loader");
            if (loader instanceof HTMLElement) {
                loader.style.display = "none";
            }
        } else {
            let loadedImages = 0;

            const checkImageLoad = () => {
                loadedImages++;
                if (loadedImages === totalImages) {
                    const loader = document.querySelector(".loader");
                    if (loader instanceof HTMLElement) {
                        loader.style.display = "none";
                    }
                }
            };

            images.forEach((image) => {
                if (image.complete) {
                    checkImageLoad();
                } else {
                    image.addEventListener("load", checkImageLoad);
                    image.addEventListener("error", checkImageLoad);
                }
            });
        }
    });
</script>
